{% extends "base.html" %} {%load static%} {% block content %}
<!-- Modal Search Start -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input
            type="search"
            class="form-control p-3"
            placeholder="keywords"
            aria-describedby="search-icon-1"
          />
          <span id="search-icon-1" class="input-group-text p-3"
            ><i class="fa fa-search"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Search End -->

<!-- Dashboard Start -->

<div class="fluid-container" style="margin-top: 6rem">
  <div class="row">
    <div class="col-lg-5 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="{{ customer.picture.url }}"
        /><span class="font-weight-bold">{{customer.user.username}}</span
        ><span class="text-black-50">{{customer.user.email}}</span
        ><span> </span>
        <div class="row mt-2">
          <a
            class="btn open-popup-link btn border border-secondary mt-2 d-flex justify-content-center align-items-center rounded-pill px-3 text-dark mt-4"
            href="{% url 'buyer:update_profile' customer.user.id %}"
            >Update Profile</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-5 border-right">
      <div class="p-3 py-5">
        <div class="row mt-2">
          <div class="col-lg-6">
            <label class="labels">Username</label
            ><input
              type="text"
              class="form-control"
              readonly
              placeholder="user ID"
              value="{{customer.user.username}}"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6">
            <label class="labels">First Name</label
            ><input
              type="text"
              class="form-control"
              readonly
              value="{{customer.first_name}}"
            />
          </div>
          <div class="col-lg-6">
            <label class="labels">Last Name</label
            ><input
              type="text"
              class="form-control"
              readonly
              value="{{customer.last_name}}"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6">
            <label class="labels">Email</label
            ><input
              type="text"
              class="form-control"
              readonly
              placeholder="enter email"
              value="{{customer.user.email}}"
            />
          </div>
          <div class="col-lg-6">
            <label class="labels">City</label
            ><input
              type="text"
              class="form-control"
              readonly
              placeholder="-"
              value="{{customer.city}}"
            />
          </div>
          <div class="row mt-2">
            <div class="col-lg-6">
              <label class="labels">Gender</label
              ><input
                type="text"
                class="form-control"
                readonly
                value="{{customer.gender}}"
              />
            </div>
            <div class="col-lg-6">
              <label class="labels">Sub District</label
              ><input
                type="text"
                class="form-control"
                readonly
                placeholder="-"
                value="{{customer.subdistrict}}"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg-6">
              <label class="labels">Phone Number</label
              ><input
                type="text"
                class="form-control"
                readonly
                value="{{customer.phone}}"
              />
            </div>
            <div class="col-lg-6">
              <label class="labels">Postal Code</label
              ><input
                type="text"
                class="form-control"
                readonly
                placeholder="-"
                value="{{customer.postal_code}}"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg-12">
              <label class="labels">Addres Detail</label
              ><input
                type="text"
                class="form-control"
                readonly
                value="{{customer.address}}"
              />
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-danger mb-4" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</div>
<div class="container 3-p 5-py">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Transaction Code</th>
          <th scope="col">Discount</th>
          <th scope="col">Total Price</th>
          <th scope="col">Payment Money</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% if transactions %}
        {% for transaction in transactions %}
        <tr class="cart-item">
          <td>
            <p class="mb-0 mt-4">{{transaction.transaction_code}}</p>
          </td>
          <td>
            <p class="mb-0 mt-4">{{transaction.discount}}</p>
          </td>
          <td>
            <p class="mb-0 mt-4">Rp {{transaction.total_price}}</p>
          </td>
          <td>
            <p class="mb-0 mt-4">Rp {{transaction.payment_money}}</p>
          </td>
          <td>
            <p class="mb-0 mt-4">{{transaction.created_at}}</p>
          </td>
          <td>
            {% for delivery in deliveries %}
            {% if delivery.transaction_id == transaction.id %}
                <p class="mb-0 mt-4">{{ delivery.get_status_display }}</p>
            {% endif %}
        {% endfor %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
        
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
