<div class="popup" id="popup">
    <div class="popup__content">
        <h2 class="heading-secondary">Add to cart</h2>
        <h3 class="heading-tertiary">Important &ndash; Please read these terms before booking</h3>
        <p class="popup__text">
            You can add this item to your cart by clicking the button below. If you have any questions, please don't hesitate to contact us. We are happy to help you with any questions you may have.
        </p>
        <a href="#" class="btn btn-danger">Close Popup</a>
        <button class="btn btn-success" type="submit">Add to cart</button>
    </div>
</div>