{% extends "base.html" %} {% load static %} {% block content %}

<!-- Modal Search Start -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        class="modal-body d-flex align-items-center"
        action="{% url 'buyer:home' %}"
        method="post"
      >
        {% csrf_token %}
        <div class="input-group w-75 mx-auto d-flex">
          <input
            name="name_filter"
            type="search"
            class="form-control p-3"
            placeholder="keywords"
            aria-describedby="search-icon-1"
          />
          <span id="search-icon-1" class="input-group-text p-3"
            ><i class="fa fa-search"></i
          ></span>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Search End -->

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5 mt-5">
  <div class="container py-5">
    <h1 class="mb-4">Grocery shop</h1>
    <div class="wrapper row">
      <div class="preview col-md-6">
        
        <div class="preview-pic tab-content ">
          <img src="{{ product.product_image.url }}" class="rounded-3 " width="300rem" />
        </div>
        
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{product.product_name}}</h3>
        <div class="d-flex gap-2 my-3">
          <img src="{% static 'img/avatar.jpg' %}" alt="" width="50px">
          <h5 class="pt-3 text-black-50">{{product.seller.user}}</h5>
        </div>
        <h5>Stock : <span>{{product.stock_gudang}}</span></h5>
        <p class="product-description">{{ product.product_description }}</p>
        <h4 class="price">current price: <span>${{product.product_price}}</span></h4>
        <div class="d-flex gap-2">
          <a href="{% url 'buyer:add_to_cart2' product.id %}" class="w-50 open-popup-link btn border border-secondary mt-2 d-flex justify-content-center align-items-center rounded-pill px-3 text-primary"><i
            class="fa fa-shopping-cart me-2 text-primary"></i>Cart</a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- Fruits Shop End-->

  
  {% endblock content %}
</div>

