<!DOCTYPE html>
<html>
<head>
    <title>Application Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <div class="h-screen bg-gray-100 flex justify-center">
    <div class="py-6 px-8 h-80 mt-20 bg-white rounded shadow-xl">
        <h1 class="font-bold text-center text-2xl">Top Up Form</h1>
        <br>
      <form method="POST" action="{% url 'bank:create' user_id=user_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-6">
          <label for="name" class="block text-gray-800 font-bold">How much would you topup:</label>
          <input type="number" name="gross_amount" id="gross_amount" placeholder="" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600" />
        </div>
        <button type="submit" class="cursor-pointer py-2 px-4 block mt-6 bg-indigo-500 text-white font-bold w-full text-center rounded">Top Up</button>
      </form>
    </div>
  </div>
</body>
</html>